<p>simulation works!</p>
<div class="flex flex-column align-items-center justify-content-center h-full py-5 px-3">
    <i class="pi pi-fw pi-ticket mr-2 text-2xl"></i>
    <p class="m-0 mt-5 text-center text-lg">Faire une Simulation 

    </p>
    <div class="field col-12 md:col-4">
                <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name"></p-dropdown>
                    <label for="dropdown">Dropdown</label>
                </span>
            </div>
            
    </div>